script#Admin(type="text/template")
	.row.span12
		h1
			| Review Users
		.btn-toolbar
			button.btn.all-users
				| All
			button.btn.unreviewed-users
				| Unreviewed
			button.btn.approved-users
				| Approved
			button.btn.rejected-users
				| Rejected
		.well
			table.table
				thead
					tr
						td
							| Added
						td
							| First Name
						td
							| Last Name
						td
							| Age
						td
							| Votes
						td
							| Picture
						td
							| Status
						td
				tbody
				tfoot

