script#Home(type="text/template")
	#myCarousel.carousel.slide
		.carousel-inner
			.item.active
				img(src='img/foundry-crop.jpg', alt='')
				.container
					.carousel-caption
						h1 Tight Deadlines
						p.lead KI can take the heat.
			.item
				img(src='img/railroad-crop.jpg', alt='')
				.container
					.carousel-caption
						h1 Complex Systems
						p.lead KI knows how to integrate with modern architecture.
			.item
				img(src='img/cargo-crop.jpg', alt='')
				.container
					.carousel-caption
						h1 Globally Sourced, Locally Managed.
						p.lead
							| The code comes from everywhere.
							br
							| The invoices, Burbank.
			.item
				img(src='img/crane-crop.jpg', alt='')
				.container
					.carousel-caption
						h1 Crane
						p.lead Because the picture looked cool.
	a.left.carousel-control(href="#myCarousel", data-slide="prev") &lsaquo;
	a.right.carousel-control(href="#myCarousel", data-slide="nwzr") &rsaquo;
	.container.marketing
		.row
			.span4
				img.img-circle(src='img/bfordjct1-bw.jpg', height='250', width='250')
				h2 Requirements
				p
					| You know what you need.
				br
					| Our job is to make sure we understand what you need as well as you do.
				p
					a.btn(href='#') View details &raquo;
			.span4
				img.img-circle(src='img/univac_small.jpg', height='250', width='250')
				h2 Solutions
				p
					| Web technology is always changing.
				br
					| We make sure you get what you need, the way you need it.
				p
					a.btn(href='#') View details &raquo;
			.span4
				img.img-circle(src='img/modern-bridge_bw.jpg', height='250', width='250')
				h2 Results
				p(style="margin-bottom:30px")
					| Take a look at our work.
				p
					a.btn(href='#') View details &raquo;

